@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
section {
  width: 100%;
  height: 100%;
}
.page1 {
      background: linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)
), url(assets/BG1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  height: 20%;
  display: flex;
  align-items: center;
}
header h1 {
  padding-left: 1rem;
  text-shadow: 1px 2px 1px red;
  color: white;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
header img {
  margin-top: 2%;
  margin-left: 10%;
}
.page1 div {
  height: 50%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.page1 div h1 {
  height: 100%;
  width: 100%;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: aliceblue;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.page1 div h1 span {
  color: red;
}
.page1 div .button-div {
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}
.page1 div .button-div button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: red;
  color: aliceblue;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.page2 {
  background-color: rgb(255, 255, 255);
  display: flex;
}
.page2 div {
  width: 50%;
  height: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  padding-left: 5rem;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: red;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.box1 {
  padding-left: 10rem;
}
.box1 pre {
  padding-bottom: 10rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.page2 div img {
  width: 90%;
  height: 50%;
}
.page3 {
  display: flex;
}
.page3 .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  padding-left: 5rem;
}
.page3 h1 {
  height: 10%;
  padding-left: 10%;
  font-size: 3rem;
  color: red;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.page3 .white-box {
  height: 70%;
  padding: 1rem;
}
.page3 .first,
.second {
  height: 50%;
  display: flex;
}
.page3 .first h2,
.second h2,
h3 {
  color: red;
  font-size: 1.6rem;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.page3 .first p,
.second p {
  font-size: 1.5rem;
}
.page3 .first div,
.second div {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  gap: 5;
}
.page4 {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page4 div h1 {
  font-size: 3rem;
  color: red;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.page4 .content {
  display: flex;
  justify-content: space-between;
  height: 60%;
  width: 80%;
}
.page4 .content div {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page4 .content div h2 {
  color: red;
  font-size: 1.5rem;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.page4 .content div p {
  font-size: 1.3rem;
  color: white;
}
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url(assets/BG2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 9%;
}

.footer .heading h1 {
  font-size: 4rem;
  color: white;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
}
.footer-content .footer-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.footer-sub h1 {
  color: red;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}
.footer-sub p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
